# Temporary files
*~
*.*~
*.orig
*.DS_Store
*.sublime-workspace
.idea
*.csv
*.xlsx
old

# Python files
__pycache__
*.pyc
*.egg-info
build
dist

# Babel binary file
*.mo
*.pot

# Virtual env
*env

# All sqlite database file
*.s3db*
*.db3
*.sqlite

# All nose coverage files
.noseids
.coverage
cover_html/

# Platform specific files
app.json
.vscode
