body {
  padding-top: 80px;
}

table .weekend {
  color: rgb(100, 100, 100);
  background-color: rgb(150, 150, 150) !important;
}

table .vacation {
  color: rgb(120, 120, 120);
  background-color: rgb(170, 170, 170);
}
