{% extends "layout.html" %}

{% block body %}
<div class="row justify-content-around">
  <div class="col-6">
    <h2>Modification de {{ student.firstname }} {{ student.lastname }} de la classe de {{ schoolclass.name }} ({{ schoolclass.year }}/{{ schoolclass.year + 1 }})</h2>

    <form action="{{ url_for('students.update', class_id=schoolclass.id, student_id=student.id, method='put') }}" method="post">
      {% include 'students/form.html' %}
    </form>
  </div>
</div>
{% endblock %}

{% block endbody %}
<script type="text/javascript">
  var settings = {
    uiLibrary: 'bootstrap4',
    format: 'dd/mm/yyyy'
  }
  $('#birth_date').datepicker(settings);
  $('#start_date').datepicker(settings);
  $('#end_date').datepicker(settings);
</script>
{% endblock %}
