<fieldset class="form-group">
  <label for="firstname">Prénom</label>
  <input type="text" class="form-control" id="firstname" name="firstname" placeholder="" value="{{ student.firstname }}">
</fieldset>
<fieldset class="form-group">
  <label for="lastname">Nom</label>
  <input type="text" class="form-control" id="lastname" name="lastname" placeholder="" value="{{ student.lastname }}">
</fieldset>
<fieldset class="form-group">
  <label for="birth_date">Date de naissance</label>
  <input type="text" class="datepicker form-control" id="birth_date" name="birth_date" value={{ student.birth_date|default('', true) if 'birth_date' in student }}>
</fieldset>
<fieldset>
  <label for="gender">Sexe</label>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="gender" id="gender_female" value="f" {% if student.gender == 'f' %}checked{% endif %}>
    <label class="form-check-label" for="gender_female">
      Fille
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="gender" id="gender_male" value="m" {% if student.gender == 'm' %}checked{% endif %}>
    <label class="form-check-label" for="gender_male">
      Garçon
    </label>
  </div>
</fieldset>
<fieldset class="form-group">
  <label for="grade">Niveau</label>
  <select class="form-control" id="grade" name="grade">
  {% for grade in schoolclass.grades %}
    <option value="{{ grade.id }}" {% if student.grade == grade.id %}selected="selected"{% endif %}>{{ grade.name }}</option>
  {% endfor %}
  </select>
</fieldset>
<fieldset class="form-group">
  <label for="start_date">Date d'arrivée dans la classe</label>
  <input type="text" class="datepicker form-control" id="start_date" name="start_date" value={{ student.start_date if 'start_date' in student else schoolclass.schoolyear.start_date.strftime('%d/%m/%Y') }}>
</fieldset>
<fieldset class="form-group">
  <label for="end_date">Date de départ de la classe</label>
  <input type="text" class="datepicker form-control" id="end_date" name="end_date" value={{ student.end_date if 'end_date' in student else schoolclass.schoolyear.end_date.strftime('%d/%m/%Y') }}>
</fieldset>
<div class="text-right">
  <a href="{{ url_for('students.list', class_id=schoolclass.id) }}" class="btn btn-outline-secondary">Annuler</a>
  <button type="submit" class="btn btn-outline-primary">{% if student.id|default(None, true) == None %}Ajouter{% else %}Modifier{% endif %}</button>
</div>
