{% extends "layout.html" %}

{% block body %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Professeurs</th>
      <th>Niveau</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for schoolclass in classes %}
    <tr>
      <th scope="row">{{ schoolclass.name }}</th>
      <td>{{ schoolclass.grade }}</td>
      <td></td>
      <td><a class="btn btn-light btn-sm" href="{{ url_for('absences.list', class_id=schoolclass.id) }}" role="button">Saisir les absences</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
